networks:
  default:
    name: ${DOCKER_PROJECT}
    driver: bridge

# ----------------------------------------------------------------
# TEMPLATES, COMPONENTS
# ----------------------------------------------------------------

secrets:
  credentials:
    file: .env.docker-secrets

# ----------------------------------------------------------------
# SERVICES
# ----------------------------------------------------------------

services:
  # --------------------------------
  # SERVICES: main code base
  # --------------------------------

  base:
    image: local/examplerabbitmq:base

    env_file:
      - .env
      - .env.docker-vars

    secrets:
      - credentials

    build: &ref_build
      context: .
      pull: false
      dockerfile: Dockerfile
      target: stage-base
      args:
        USER: "basicuser"
        TIMEZONE: "${DOCKER_TIMEZONE}"
        PYTHON_PATH: "${PYTHON_PATH}"

    tty: true
    stdin_open: true
    user: root

  build:
    image: local/examplerabbitmq:build

    env_file:
      - .env
      - .env.docker-vars

    secrets:
      - credentials

    build:
      <<: *ref_build
      target: stage-build

    tty: true
    stdin_open: true
    user: basicuser
    command: |-
      bash --login -c '
        echo "success"
      '

  qa:
    image: local/examplerabbitmq:build # <- i.e. use this image
    env_file:
      - .env
      - .env.docker-vars
    secrets:
      - credentials
    volumes: []
    tty: false
    stdin_open: false
    user: basicuser
    command: |-
      bash --login -c '
        source /run/secrets/credentials
        just prettify || exit 1
        just tests-unit || exit 1
      '

  # --------------------------------
  # SERVICES: server
  # --------------------------------

  server:
    image: local/examplerabbitmq:build # <- i.e. use this image

    env_file:
      - .env
      - .env.docker-vars

    secrets:
      - credentials

    # standard
    volumes:
      - type: bind
        source: ${PATH_LOGS}
        target: //home/basicuser/app/${PATH_LOGS}
      - ./demo://home/basicuser/app/demo:ro
      - ./data://home/basicuser/app/data:rw
      - ./setup://home/basicuser/app/setup:ro

    # # for debugging
    # volumes:
    #   - type: bind
    #     source: ${PATH_LOGS}
    #     target: //home/basicuser/app/${PATH_LOGS}
    #   - ./demo://home/basicuser/app/demo:ro
    #   - ./data://home/basicuser/app/data:rw
    #   - ./setup://home/basicuser/app/setup:ro
    #   - ./scripts://home/basicuser/app/scripts:ro
    #   - ./src://home/basicuser/app/src:ro
    #   - ./tests://home/basicuser/app/tests:ro
    #   - ./pyproject.toml://home/basicuser/app/pyproject.toml:ro
    #   - ./justfile://home/basicuser/app/justfile:ro

    networks: [default]
    ports:
      # HOST-IP:HOST-PORT:CONTAINER (note: uses values in .env)
      - ${DOCKER_HOST_IP}:${DOCKER_HOST_PORT}:${DOCKER_CONTAINER_PORT}

    healthcheck:
      # time before first healthcheck
      start_period: 30s
      # time between health checks
      interval: 60s
      # if healthcheck exceeds this, declares healthcheck as failure
      timeout: 30s
      # if number of failures exceeds this, declares container unhealthy
      retries: 5
      # the healthcheck
      test: |-
        bash --login -c '
          curl -f "${HTTP_IP}:${HTTP_PORT}/ping" || exit 1
        '

    tty: false
    stdin_open: true
    user: basicuser
    # restart: unless-stopped
    restart: no
    # entrypoint: "//home/basicuser/app/scripts/entrypoint.sh"
    command: |-
      bash --login -c '
        source /run/secrets/credentials
        just start-server
      '

  # --------------------------------
  # SERVICES: queue
  # --------------------------------

  queue-build:
    image: local/examplerabbitmq:queue

    env_file:
      - .env
      - .env.docker-vars

    secrets:
      - credentials

    build:
      context: .
      pull: false
      dockerfile: Dockerfile.queue
      target: stage-base

    tty: true
    stdin_open: true
    command: |-
      bash --login -c '
        echo "success"
      '

  queue-server: &ref_queue-server
    image: local/examplerabbitmq:queue # <- i.e. use this image
    hostname: ${HTTP_HOST_NAME_RABBIT}

    env_file:
      - .env
      - .env.docker-vars

    secrets:
      - credentials

    volumes:
      - type: bind
        source: ${PATH_LOGS_QUEUE}
        target: //var/log/rabbitmq
      - type: bind
        source: ${PATH_LOGS_QUEUE_STATE}
        target: //var/lib/rabbitmq

    networks: [default]
    ports:
      # HOST-IP:HOST-PORT:CONTAINER (note: uses values in .env)
      # queue communication
      - ${DOCKER_HOST_IP}:${DOCKER_HOST_PORT_RABBIT_QUEUE}:${DOCKER_CONTAINER_PORT_RABBIT_QUEUE}
      # queue admin
      - ${DOCKER_HOST_IP}:${DOCKER_HOST_PORT_RABBIT_WEB}:${DOCKER_CONTAINER_PORT_RABBIT_WEB}

    # restart: always
    command: |-
      rabbitmq-server

  queue-admin:
    <<: *ref_queue-server
    hostname: "admin"
    depends_on:
      - queue-server
    networks: [default]
    ports: []
    tty: true
    stdin_open: true
    command: |-
      bash --login -c '
        source /run/secrets/credentials
        rabbitmqctl --node rabbit@$${HTTP_HOST_NAME_RABBIT} list_users

        # create admin
        rabbitmqctl --node rabbit@$${HTTP_HOST_NAME_RABBIT} delete_user $${HTTP_ADMIN_USER_RABBIT} 2> /dev/null
        rabbitmqctl --node rabbit@$${HTTP_HOST_NAME_RABBIT} add_user $${HTTP_ADMIN_USER_RABBIT} $${HTTP_ADMIN_PASSWORD_RABBIT}
        rabbitmqctl --node rabbit@$${HTTP_HOST_NAME_RABBIT} set_permissions -p / $${HTTP_ADMIN_USER_RABBIT} ".*" ".*" ".*"
        rabbitmqctl --node rabbit@$${HTTP_HOST_NAME_RABBIT} set_user_tags $${HTTP_ADMIN_USER_RABBIT} administrator

        # create guest
        rabbitmqctl --node rabbit@$${HTTP_HOST_NAME_RABBIT} delete_user $${HTTP_GUEST_USER_RABBIT} 2> /dev/null
        rabbitmqctl --node rabbit@$${HTTP_HOST_NAME_RABBIT} add_user $${HTTP_GUEST_USER_RABBIT} $${HTTP_GUEST_PASSWORD_RABBIT}
        rabbitmqctl --node rabbit@$${HTTP_HOST_NAME_RABBIT} set_permissions -p / $${HTTP_GUEST_USER_RABBIT} ".*" ".*" ".*"
      '
